h1 {
  color: #27aedb;
  text-align: center;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bg-pink {
  background-color: pink;
}
.states {
  margin-left: 8px;
  margin-right: 8px;
}
.cities {
  margin-left: 8px;
  margin-right: 8px;
}
